//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================

$teal-50: #dafff6;
$teal-100: #afffef;
$teal-200: #80ffea;
$teal-300: #52ffe8;
$teal-400: #31feea;
$teal-500: #24e5d9;
$teal-600: #12b3ae;
$teal-700: #007f80;
$teal-800: #004e4a;
$teal-900: #001c1a;

$dark-50: #f8eff821;
$dark-100: #e0d1e021;
$dark-200: #cbb4ca21;
$dark-300: #b695b621;
$dark-400: #a077a021;
$dark-500: #875e8721;
$dark-600: #69486921;
$dark-700: #4c344b21;
$dark-800: #2e1f2e21;
$dark-900: #12081221;

$primary: $teal-700;
$darken: $dark-900;
