//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================

$teal-50: #dafff6;
$teal-100: #afffef;
$teal-200: #80ffea;
$teal-300: #52ffe8;
$teal-400: #31feea;
$teal-500: #24e5d9;
$teal-600: #12b3ae;
$teal-700: #007f80;
$teal-800: #004e4a;
$teal-900: #001c1a;

$primary: $teal-700;
