.imageGrid {
  gap: 0.5rem;
  display: grid;
  margin: 0 auto;
  grid-auto-rows: 200px;
  grid-template-columns: repeat(auto-fit, minmax(145px, 150px));
}

/* .image-container {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
} */

.image-box {
  width: 100%;
  height: 100%;
  display: grid;
  /* margin: 0.5rem; */
  overflow: hidden;
  border-radius: 1rem;
  place-items: center;
  border: 1px solid teal;
  transition: transform 0.3s ease;
}

.image-box button {
  position: absolute;
  bottom: 10px;
  left: 10px;

  width: 2rem;
  height: 2rem;

  border: none;
  outline: none;
  border-radius: 0.5rem;
}

.image-box button.btn-icon {
  padding: 0;
  left: -10px;
  opacity: 0;
  bottom: -10px;
}

.image-box:hover button.btn-icon {
  opacity: 1;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.radiosButtons {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.image-modal {
  width: 90vw;
  max-width: 90vw;
}

.image-box:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.pos-relative {
  position: relative;
}
.pos-absolute {
  position: absolute;
  bottom: 0;
}

.propiedad-step {
  justify-self: flex-end;
  align-self: flex-end;
}

button.visible {
  opacity: 1;
}
